//iphone 5

@media only screen 
  and (min-device-width: 319px)
  and (max-device-width: 374px)
  and (-webkit-min-device-pixel-ratio: 2) {

  //nav-bar
  
  .nav-wrp-links-link{
    width: 100%;
    padding: 10px 5px;

    a{
        font-size: 16px;
    }
  }
  
  // home
  .home{


    .home-head{
        height: 200px;


        h2{
            font-size: 10px;
        }

        &-name{
            padding-top: 30px;

            p{
                font-size: 50px;

            }
           
        }
    }
    &-image{
        height: 40px;
        margin-top: -100px;
    }
  } 
  
  // btmnav

  .btm-nav-bar-wrp{

    height: 200px;
    margin-top: -30px;
  }

  .btm-nav-bar{
    flex-direction: column;  
    align-items: center;
    width: 100%;
    
    
    &-left{
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100%;

        a{
            padding: 0 10px;
        }
    }

    &-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0px;
        margin-top: -10px;
        

        

        .btm-nav-bar-link{
            margin-top: 50;

            .sateluco{
                margin-top: 10px;
                font-size: .8em;
            }
        }
      
    }

    &-right{
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100%;
        margin-top: -10px;


        a{
            padding: 0 10px;
        }
    }

  }



  // portfolio

  .portfolio{

    &-wrp{
        width: 100%;

        &-filters{
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: transparent;

        }

        &-gallery{
            padding: 50px 5px;
            justify-content: center;

            &-photo-portrait{
                width: 310px;
                height: 478px;
                padding: 27px 5px;

                img{
                    width: 310px;
                    height: 478px;
                }
            }

            &-photo-landscape{
                width: 310px;
                height: 207px;
                padding: 27px 5px;

                img{
                    width: 310px;
                    height: 207px;
                }
            }
        }
    }

  }  

// contact

.contact {
    height: auto;
    

    &-wrp {
        display: flex;
        flex-direction: column;

        &-left{
            background-image: none;
           
          
            &-headerone{
                margin-top: 10px;
                font-size: 2em;
                text-align: center;
            }

            &-headertwo{
                font-size: 2.5em;
                text-align: center;
            }
        }

        &-right{
            padding: 0;
            margin-bottom: 40px;
           
            &-wrapper{
                margin-top: 20px;

                &-contact-header{
                    text-align: center;
                    padding: 0 30px;
                }

                &-rows{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding: 0 20px;
                }

                &-contact-social{
                    padding: 25px;
                }

            }

        }

        
    
    }


    }

// about

    .about{
        height: auto;
        padding: 0;
        margin-bottom: 70px;
    
        &-wrp {
            display:flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            
            
            &-left{
                width: 300px;
                

                .header{  
                    justify-content: center;
                }

                .biografy{
                    padding: 8px;
                    height: auto;

                    p{
                        font-size: .8em;
                    }

                }

                .about-container{
                    height: auto;

                }
            }


            &-right{
                display: none;
            }

        }
    }

// about nav

    .about-nav{
        justify-content: center;
        
    
        &-links{
            justify-content: center;
            width: 100%;
            margin-right: 0px;
        
            &-link{
                padding: 0 10px;

                a{
                    font-size: 14px;
                }
            }

        }

    }

// about - skills

.skills{
    width: 320px;

    &-wrp{
        width: 310px;

        &-row{

            &-card{
                margin: 15px; 

                &-front{
                    height: 100px;
                    width: 100px;

                    img{
                        height: 100px;
                        width: 100px;
                    }
                }

                &-back{
                    height: 100px;
                    width: 100px;
                    margin-top: -100px;

                    &-name{
                        padding-top: 25px;
                        font-size: 1.3em;
                       
                    }
                }
            }
        }
    }
}

// about - education

    .education{
        width: 301px;
        height: auto;
  
        

        &-wrp{
            justify-content: center;
            justify-items: center;
  
        
            &-img-left{
                flex-direction: column;
                justify-content: center;
                text-align: center;
            
                &-logo-wrapper{
                    width: 100%;
                    
                    
                }

                &-txt-wrapper{
                    width: 100%;
                    height: 100px;
                    padding: 20px 0;

                    .school{
                        font-size: 20px;
                    }

                    .title{
                        font-size: 20px;
                        padding: 0 8px;
                    }
                }
            
            }
        
        }


    }

// about - work expirence

    .pdf-download{
        margin-block-end: 0;
        width: 301px;
        margin-top: 20px;
        
    }

    .jobs-options{
        &-wrp{
            width: 80%;
       

            &-freelance{

                width: 100%;
                text-align: center;
                a{
                    font-size: 2em;
                    padding: 5px 60px; 
                }
            }
            &-companies{  
                a{
                    font-size: 2em;
                }
            }
        }
    }

    .job-history-wrp{
        
        &-company{
            
            &-position{
                font-size: 1em;
            }
            
            &-years{
                font-size: 10px;
            }

            &-description{
                font-size: 11px;
            }
        }
    }

// Magic Word

    .magic-word{
        height: auto;

        &-wrp{
            margin-top: 150px;
            margin-bottom: 150px; 
            width: 100%;

            a{
                font-size: 16px;
                padding: 5px 15px;
            }
        }
    }
}  