//iphone x

@media only screen 
  and (min-device-width: 375px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  //nav-bar
  
  .nav-wrp-links-link{
    padding: 10px 10px;
  }
  
  // home
  .home{


    &-head{
        height: 150px;


        h2{
            font-size: 1em;
        }

        &-name{
            padding-top: 20px;

            p{
                font-size: .5em;
            }
           
        }
    }
    &-image{
        height: 50px;
        margin-top: -100px;
    }
  } 
  
  // btmnav

  .btm-nav-bar-wrp{

    height: 200px;
    margin-top: -30px;
  }

  .btm-nav-bar{
    flex-direction: column;  
    align-items: center;
    width: 100%;
    
    
    &-left{
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100%;

        a{
            padding: 0 10px;
        }
    }

    &-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0px;
        margin-top: -10px;
        

        

        .btm-nav-bar-link{
            margin-top: 50;

            .sateluco{
                margin-top: 10px;
                font-size: .8em;
            }
        }
      
    }

    &-right{
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100%;
        margin-top: -10px;


        a{
            padding: 0 10px;
        }
    }

  }


// home
.home{


    &-head{
        height: 150px;


        h2{
            font-size: 1em;
        }

        &-name{
            padding-top: 20px;

            p{
                font-size: .5em;
            }
           
        }
    }
    &-image{
        height: 50px;
        margin-top: -100px;
    }
  } 

  // portfolio

  .portfolio{

    &-wrp{
        width: 100%;

        &-filters{
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: transparent;

        }

        &-gallery{
            padding: 50px 5px;
            justify-content: center;

            &-photo-portrait{
                width: 355px;
                height: 547px;
                padding: 27px 5px;

                img{
                    width: 355px;
                    height: 547px;
                }
            }

            &-photo-landscape{
                width: 355px;
                height: 237px;
                padding: 27px 5px;

                img{
                    width: 355px;
                    height: 237px;
                }
            }
        }
    }

  }  

// contact

.contact {
    height: auto;
    

    &-wrp {
        display: flex;
        flex-direction: column;

        &-left{
            background-image: none;
           
          
            &-headerone{
                margin-top: 10px;
                font-size: 2em;
                text-align: center;
            }

            &-headertwo{
                font-size: 2.5em;
                text-align: center;
            }
        }

        &-right{
            padding: 0;
            margin-bottom: 40px;
           
            &-wrapper{
                margin-top: 20px;

                &-contact-header{
                    text-align: center;
                    padding: 0 30px;
                }

                &-rows{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding: 0 20px;
                }

                &-contact-social{
                    padding: 25px;
                }

            }

        }

        
    
    }


    }

// about

    .about{
        height: auto;
        padding: 0;
        margin-bottom: 70px;
    
        &-wrp {
            display:flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            
            
            &-left{
                width: 365px;
                

                .header{  
                    justify-content: center;
                }

                .biografy{
                    padding: 8px;
                    height: auto;

                    p{
                        font-size: 1em;
                    }

                }

                .about-container{
                    height: auto;

                }
            }


            &-right{
                display: none;
            }

        }
    }

// about nav

    .about-nav{
        justify-content: center;
        
    
        &-links{
            justify-content: center;
            width: 100%;
            margin-right: 0px;
        
            &-link{
                padding: 0 10px;
            }

        }

    }

// about - skills

    .skills{
        width: 375px;

        &-wrp{
            width: 365px;

            &-row{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
    
                &-card{
                    margin: 25px; 
                    perspective: 150rem;
                    -moz-perspective: 150rem;
    
                    &-front, 
                    &-back {
                        backface-visibility: hidden;
                        transition: all .3s ease;
                    }
    
                    &-back {
                        transform: rotateY(-180deg);
                    }
    
                    &:hover &-front {
                        transform: rotateY(180deg);
                    }
                    &:hover &-back {
                        transform: rotateY(0deg);
                    }
    
                    &-front{
                        height: 100px;
                        width: 100px;
    
                        img{
                            height: 100px;
                            width: 100px;
                        }
                    }
    
                    &-back{
                        height: 100px;
                        width: 100px;
                        margin-top: -100px;

                        &-name{
                            padding-top: 25px;
                            font-size: 1.3em;
                           
                        }
                    }
                }
            }
        }
    }

// about - education

    .education{
        width: 375px;
        height: auto;
        

        &-wrp{
            justify-content: center;
            justify-items: center;
            width: 365px;
        
            &-img-left{
                flex-direction: column;
                justify-content: center;
                text-align: center;
            
                &-logo-wrapper{
                    width: 100%;
                    
                }

                &-txt-wrapper{
                    width: 100%;
                    height: 130px;
                    padding: 20px 0;


                    .title{
                        font-size: 25px;
                        padding: 0 8px;
                    }
                }
            
            }
        
        }


    }

// about - work expirence

    .pdf-download{
        margin-block-end: 0;
        width: 365px;
        margin-top: 35px;
        
    }

    .jobs-options{
        &-wrp{
            width: 80%;
       

            &-freelance{

                width: 100%;
                text-align: center;
                a{
                    font-size: 2em;
                    padding: 5px 60px; 
                }
            }
            &-companies{  
                a{
                    font-size: 2em;
                }
            }
        }
    }
                

}  