.about-nav{
    display:flex;
    justify-content: flex-end;
    background-color: $orange;
    height: 30px;
    padding-top: 10px;

    &-links{
        display:flex;
        justify-content: space-around;
        width: 350px;
        color: $mid-gray;
        margin-right: 85px;

        &-link{

            a{
                color: white;
                text-decoration: none;
                font-size: 18px;
                line-height: 20px;
                @include futura();
            }

            a:hover{
                color: $mid-gray;
        
            }
            
            .about-nav-links-active{
                a{
                    color: purple;
                }
            }

        }
    }
}