.nav-wrp{
    display:flex;
    justify-content: center;
    height: 45px;
    margin-top: 15px;
    


    &-links{
        display:flex;
        justify-content: space-around;
        width: 350px;

        
        &-link{
            width: 100px;
            padding: 10px 25px;
            align-content: center;
            
            transition: 0.5s ease-in-out;
            line-height: 20px;

            //background-color: red;
           

            a{
                color: $mid-gray;
                text-decoration: none;
                font-size: 22px;
                line-height: 24px;
                border-bottom: 1px solid transparent;
                @include futura();
            }

            a:hover{
                color: $purple;
                border-bottom: 1px solid $orange;
            }
            
            .nav-wrp-links-active{
                a{
                    color: $purple;
                    border-bottom: 1px solid $orange;
                }
            }
        }
    }  
}

.logo-wrp{
    margin-top: 30px;
    height: 60px;

    .logo{
        width: 60px;
        height: 60px;
        background-color: $mid-gray;
    }
}