.contact {
    display:flex;
    justify-content: center;
    height: 750px;
    padding: 30px 0px;
    
   
    
    &-wrp {
        display: grid;
        grid-template-columns: 709px 709px;
        grid-column-gap: 40px;
       

        &-left {
            background-image: url(../../static/assets/img/contact-bg.png);
            background-size: 600px;
            background-color: $orange;
            background-repeat: no-repeat;
            

            &-headerone{
                @include futura();
                color:white;
                width: 95%;
                text-align: end;
                font-size: 3.5em;
                margin-top: 280px;
                
            }
            &-headertwo{
                @include futura-bold();
                color:$purple;
                width: 95%;
                text-align: end;
                font-size: 4.5em;

            }
        }

        &-right {
            display: flex;
            justify-content: center;
            padding: 30px 30px;
            
            

            &-wrapper{
                margin-top: 50px;

                &-contact-header{
                    @include saucy();
                    color: $orange;
                    font-size: 2.5em;
                }
                
                &-rows{
                    display: grid;
                    grid-template-columns: 35px 250px;
                    grid-column-gap: 38px;
                    @include futura();
                    color: $mid-gray;
                    font-size: 22px;
                    margin-top: 30px;  

                    a{
                        text-decoration: none;
                        @include futura();
                        color: $mid-gray;
                        font-size: 22px;
                        margin-top: 30px;
                        cursor: pointer;
                    }

                    a:hover{
                        color: $purple;
                    }

                
                    &-icon{
                        color: $purple;
                    }
                }

                &-contact-social{
                    display: grid;
                    grid-template-columns: 100px 100px;
                    grid-column-gap: 50px;
                    margin-top: 42px;
                    border-top: 2px solid $mid-gray;
                    width: 250px;
                    

                    &-social-icon{
                        height: 100px;
                        width: 100px;
                        margin-top: 23px;
                        cursor: pointer;
                       

                        img{
                            height: 100px;
                            width: 100px;
                        }

                        img:hover{
                            filter: brightness(150%);
                            filter: drop-shadow(3px 2px 2px #000);
                        }

                        a{
                            cursor: pointer;
                        }
                    }
                    
                }

            }
        }
    }
}



