.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    
    

    .home-head{
        height: 250px;
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
        
        
        
        h2{
            @include futura();
            color: $mid-gray;
        }

        &-name{
            display: flex;
            @include saucy();
            color: $orange;
            font-size: 7.5em;
            line-height: .01;
            margin-top: -50px;
        }
    }

    .home-image {
        display:flex;
        justify-content: center;       
        height: 350px;
        width: 100%;
       

        

        &-img{
           height: 300px;
           width: 300px;
           overflow: hidden;
           pointer-events: auto;
           
           img{
               height: auto;
               
               transition: transform .5s ease;
           }
        }

        &-img:hover{
            img{
                transform: scale(1.1);
            }
        }
        
    }

    .home-gallery{
        display:flex;   
        justify-content: center;
        width: 100%;
        height: 120px;

        
        
        
        &-links{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            width: 350px;
            
            

            &-wrp{
                
                text-align: center;

                a{
                    color: $mid-gray;
                    @include futura();
                    text-decoration: none;
                    font-size: 3em;
                }

                a:hover{
                    color: $purple;
                }
            }
        }
        
    }

}

